html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.aboutMain{
    background-image:url("https://www.google.com/search?rlz=1CAHPZP_enUS820&biw=1366&bih=649&tbm=isch&sa=1&ei=epXPW-KYGuaXjwShs5vYCA&q=claude+ment+painting+gifs&oq=claude+ment+painting+gifs&gs_l=img.3...14235.24356..24666...9.0..1.214.3258.27j7j1......2....1..gws-wiz-img.....0..0j0i67j0i5i30j0i8i30j0i30.sySecfJqqEY#imgrc=yRWFvm8a5hfEpM:");
}